@model IEnumerable<EmployeeApp.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Employees";
}

<table id="employees-table" class="table table-striped" style="width: 100%">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.EmpName)</th>
            <th>@Html.DisplayNameFor(model => model.EmpDateOfHire.Date)</th>
            <th>@Html.DisplayNameFor(model => model.EmpSupervisorName)</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.EmpName</td>
                <td>@m.EmpDateOfHire</td>
                <td>@m.EmpSupervisorName</td>
                <td class="row">
                    <div class="col-3">
                        <button class="btn btn-sm btn-info" employee-action="details" attributes-number="@m.EmployeeAttributes.Count" data-id="@m.EmpId">Details</button>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-sm btn-warning" employee-action="edit" attributes-number="@m.EmployeeAttributes.Count" data-id="@m.EmpId">Edit</button>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-sm btn-danger" employee-action="delete" attributes-number="@m.EmployeeAttributes.Count" data-id="@m.EmpId">Delete</button>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>

<div id="employee-actions"></div>
